<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">
        I'm Slim Shady, yes, I'm the real Shady. All you other Slim Shadys are just imitating. So won't the real Slim Shady please stand up. Please stand up, please stand up?. 'Cause I'm Slim Shady, yes, I'm the real Shady. All you other Slim Shadys are just imitating. So won't the real Slim Shady please stand up. Please stand up, please stand up?
    </div>
</article>