:root {
    --primary-color: #0a1128;
    --second-color: crimson;
    --font-bg-color: #ffffff;
    --border-color-menu: #eeeeee;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    font-family: "Open Sans", serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
    background: #f1f1f1;
}

a {
    text-decoration: none;
    color: rgb(85, 160, 230);
}

a:visited {
    color: forestgreen;
}

.menu {
    z-index: 1;
    background: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--border-color-menu);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--font-bg-color);
    position: relative;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 6.5rem;
}

.content {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

.post {
    background: #fff;
    padding: 1.5rem;
    box-shadow: 0.5rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.main-title {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 600px) {
    .content:not(:has(.single-post)) {
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    }
}