/* zerar margin e padding de tudo para evitar de ter sempre que zerar em cada elemento */
* {
    margin: 0;
    padding: 0;
}
/* seleção de tag  */
h1, p {
    color: red;
}
/* seleção de descendente, o ultimo elemento que será aplicado o estilo */
body div section p, 
body div section h1 {
    color:  yellowgreen;
}

.coloring {
    color: blue;
}
/* seleção especifica para toda h2 com class heading dentro de qualquer elemento
 com classe main-content */
body div.main-content h2.heading {
    font-style: italic;
    color: purple;
}
/* faz o elemento herdar o estilo do pai */
/* div {
    color: inherit
} */

/* não faz o elemento herdar o estilo do pai */
div {
    color: initial;
    margin:  20px;
}
/* seletores de classe separados por espaço funciona como herança */
.pai .filha {
    color: skyblue;
}

/* seletores de classe juntos só seleciona os elementos que possuem essas classes */
.big.italic {
    font-size: 50px;
    font-style: italic;
}

/* seletor de descendente direto */
.pai > .filha > .filha {
    color: chocolate;
}

/* seletor de descendente direto */
.pai > .filha > span >.filha {
    color: rgb(210, 30, 210);
}

/* seletor de irmao adjacente */
.pai h2+p {
    color:green;
}

.pai p+h2 {
    color:peru;
}

/* seletor de irmao geral, selecionando todos os elementos irmaos que vem depois de um elemento */
.father h2~p {
    color:dodgerblue
}

/* seletor por atributo com esse nome */
[checked] {
    width: 50px;
    height: 50px;
}
/* seletor por atributo com determinado valor */
[meu-atributo="valor"] {
    font-style: italic;
    color:cadetblue
}
/* seletor por atributo que contém pelo menos esse valor */
[meu-atributo~="valor2"] {
    font-family: 'Courier New', Courier, monospace;
}
/* seletor por atributo que inicia com esse valor seguido de um "-" */
[meu-atributo|="value"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: sienna;
}

/* seletor por atributo que inicia com esse valor */
[meu-atributo^="lor"] {
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    color: tomato;
}

/* seletor por atributo que termina com esse valor */
[meu-atributo$="dolor"] {
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: violet;
}

/* seletor por atributo que contenha esse valor */
[meu-atributo*="r el"] {
    font-family: cursive;
    color: steelblue;
}
