/* https://developer.mozilla.org/pt-BR/docs/Learn_web_development/Core/CSS_layout/Flexbox */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
/* https://www.w3schools.com/css/css_grid.asp */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-rows: 150px 1fr auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
        'header header'
        'nav main'
        'rodape rodape';
}

.grid div:nth-child(1) {
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}

.grid div:nth-child(2) {
    background: blue;
    grid-area: nav;
}

.grid div:nth-child(3) {
    background: green;
    grid-area: main;
}

.grid div:nth-child(4) {
    background: yellow;
    grid-area: rodape;
}

@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 
            'header'
            'main'
            'nav'
            'rodape';
    }
}