{% extends "global/base.html" %} 
{% load i18n %} 
{% block content %}
    <div class="form-wrapper">
        <h2>{% translate "Create Contact" %}</h2>
        <form action="{% url 'contact:create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-content">
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label}}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-content">
                <div class="form-group">
                    <button class="btn" type="submit">{% translate "Send" %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
