/* https://developer.mozilla.org/pt-BR/docs/Learn_web_development/Core/CSS_layout/Flexbox */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {    
    display: flex;
    flex-wrap: wrap;
    background: yellowgreen;
    /* flex-direction -> indica a direção do eixo principal flex */
    /* flex-direction: row; */
    /* justifify-content -> indica o alinhamento dos itens no eixo principal */
    justify-content: flex-start;
    /* align-items -> indica o alinhamento dos itens no eixo perpendicular */
    align-items: flex-start;
    /* align-content -> indica o alinhamento dos itens no eixo*/
    align-content: center;
    height: 640px;
}

.flex-item {
    width: 33.33%;
    background: red;
    /* margin: 10px; */
}

/* .flex-container .flex-item:nth-child(3) {
    font-size: 40px;
} */