/* https://developer.mozilla.org/pt-BR/docs/Learn_web_development/Core/CSS_layout/Flexbox */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {    
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-flow -> atalho para flex-direction e flex-wrap */
    flex-flow: row nowrap;
    background: yellowgreen;
    /* flex-direction -> indica a direção do eixo principal flex */
    /* flex-direction: row; */
    /* justifify-content -> indica o alinhamento dos itens no eixo principal */
    justify-content: space-between;
    /* align-items -> indica o alinhamento dos itens no eixo perpendicular */
    align-items: flex-start;
    /* align-content -> indica o alinhamento dos itens no eixo*/
    align-content: center;
    height: 800px;
}

.flex-item {
    width: 100%;
    /* flex-grow -> cresce o elemento de acordo com o tamanho da tela, sendo 1 para aumentar e 0 para não aumentar, é uma proporção do espaço que sobrou que vai ser dividido para todos elementos*/
    /* flex-grow: 1; */
    /* flex-basis -> aumenta os elemento de acordo com o tamanho definido, todos os elementos terão 320px se a tela for maior que isso o espaço sobrando será distribuido entre eles */
    /* flex-basis: 320px; */
    /* flex-grow -> diminui o elemento de acordo com o tamanho da tela, sendo 1 para diminuir e 0 para não diminuir */
    /* flex-shrink: 1; */
    /* atalho para flex-grow e flex-shrink, primeiro valor -> flex-grow, segundo valor -> flex-shrink, terceiro valor -> flex-basis */
    /* flex: 1 1 320px; */
    /* height: 200px; */
    background: red;
    /* margin: 10px; */
}

.flex-item:nth-child(2) {
    /* flex: 2 1 320px; */
    align-self: stretch;
    /* order -> altera a ordem de exibição do elemento */
    order: 1;
    background: purple;
}

.flex-container .flex-item:nth-child(3) {
    /* align-self -> alinha o item */
    align-self: flex-end;
    /* font-size: 40px; */
}

.flex-container .flex-item:nth-child(4) {
    align-self: center;
    /* font-size: 40px; */
}