/* https://developer.mozilla.org/pt-BR/docs/Learn_web_development/Core/CSS_layout/Flexbox */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {    
    display: flex;
    background: yellowgreen;
    /* flex-direction -> indica a direção do eixo principal flex */
    flex-direction: row;
    /* justifify-content -> indica o alinhamento dos itens no eixo principal */
    justify-content: space-evenly;
    /* align-items -> indica o alinhamento dos itens no eixo perpendicular */
    align-items: baseline;
    height: 500px;
}

.flex-item {
    width: 100%;
    background: red;
    margin: 10px;
}

.flex-container .flex-item:nth-child(3) {
    font-size: 40px;
}