* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav a {
    color: #00f;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav {
    width: 100%;
    background-color: red;
    position: fixed;
    align-items: center;
}

nav ul li {
    float: left;
}

nav ul {
    display: block;
    padding: 0 30px;
    margin: 0 auto;
    list-style: none;
}

.new-grid {
    padding: 15px;
    padding-top: 57px;
}

.new-grid .col {
    width: 33.33%;
    height: 100vh;
    background: hsla(271, 100%, 50%, 0.2);
    float: left;
    padding: 15px;
}

.new-grid::after {
    content: "";
    display: block;
    clear: both;
}

.new-grid .col-content {
    width: 100%;
    height: 100%;
}

.grid {
    padding: 15px;
    padding-top: 57px;
}

.grid .col {
    width: 33.33%;
    height: 300px;
    /* hsl funciona do mesmo modo que o rgba */
    background: hsla(0, 100%, 50%, 20%);
    float: left;
    padding: 15px;
    /* margin: 10px; */
}
/* forma alternativa de limpar o float */
.grid::after {
    content: "";
    display: block;
    clear: both;
}
/* clear, move o elemento para baixo de elementos com float */
/* p {
    clear: both;
} */

.grid .col-content {
    width: 100%;
    height: 100%;
    /* rgba configura a opacidade da cor */
    background: rgba(0, 0, 248, 0.541);
}

/* https://developer.mozilla.org/pt-BR/docs/Web/CSS/CSS_media_queries/Using_media_queries */
/* https://www.w3schools.com/cssref/atrule_media.php */
/* https://devfacts.com/media-queries-breakpoints/ */
/* media queries basicamente substitui o css de acordo com o tamanho da tela */
@media all and (max-width: 568px) {
    .grid .col {
        width: 100%;
    }
}

@media all and (min-width: 569px) and (max-width: 768px) {
    .grid .col {
        width: 50%;
    }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
    .grid .col {
        width: 33.33%;
    }
}

@media all and (min-width: 1201px) {
    .grid .col {
        width: 25%;
    }
}

