/* 
COLORS BACKGROUND
primary-color: #0A1128
second-color: #785B1E
third-color: #855325
*/
:root {
    --primary-color: #0A1128;
    --font-bg-color: #ffffff;
    --border-color-menu: #eeeeee;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
font-family: "Montserrat", serif;
font-family: "Open Sans", serif; 
*/

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", serif; 
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", serif;
}

h1 {
    font-size: 7rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    text-transform: uppercase;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 3rem;
}

h6 {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

/* Background image by SVGBackgrounds.com -> https://www.svgbackgrounds.com/set/free-svg-backgrounds-and-patterns/ */
.main-bg {
    background-image: url("../img/main-bkg.svg");
    background-size: cover;
    background-position: center center;
    color: var(--font-bg-color);
}

.white-bg {
    background: #ffffff;
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.content-section {
    min-height: 100vh;
}


.menu {
    z-index: 1;
    background: var(--font-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--border-color-menu);
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 6.5rem;
}

.intro-content {
    position: relative;
    top: -7rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img img,
.intro-img svg {
    max-width: 100%;
    height: auto;
}

.post-intro-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid-topics-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 4rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transition: all 300ms ease-in-out;
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}