{% load i18n %}
<header class="header">
    <h1 class="header-heading">
        <a href="{% url 'contact:index' %}" class="header-link">
            Agenda
        </a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">
            {% if user.is_authenticated %}
                <li class="menuitem">
                    <a href="{% url 'contact:create' %}" class="menu-link">
                        {% translate "Create Contact" %}
                    </a>
                </li>
                <li class="menuitem">
                    <a href="{% url 'contact:user_update' %}" class="menu-link">
                        {% translate "Profile" %}
                    </a>
                </li>
                <li class="menuitem">
                    <a href="{% url 'contact:logout' %}" class="menu-link">
                        {% translate "Logout" %}
                    </a>
                </li>
            {% else %}
                <li class="menuitem">
                    <a href="{% url 'contact:login' %}" class="menu-link">
                        Login
                    </a>
                </li>
                <li class="menuitem">
                    <a href="{% url 'contact:register' %}" class="menu-link">
                        {% translate "Register" %}
                    </a>
                </li>
            {% endif %}
            
        </ul>
    </nav>

    <div class="search">
        <form action="{% url 'contact:search' %}" method="get">
            <input type="text" name="query" id="query" value="{{ request.GET.query.strip }}" class="search-input" placeholder="{% translate 'Search' %}">
        </form>
    </div>
</header>