{% extends "global/base.html" %}

{% block texto %} {{ text }} {% endblock texto %}

{% block posts %}
    {% if posts|length > 1 %}
        {% for post in posts %}
            {% if post.id|divisibleby:2 %}
                {% include "global/partials/postblock.html" %}
            {% else %}
                {% include "global/partials/albumblock.html" %}
            {% endif %}
        {% endfor %}
    {% else %}
        <article class="post">
            <header>
                <h1 class="single-post">Nenhum post encontrado</h1>
            </header>
        </article>
    {% endif %}
{% endblock posts %}
